<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'lab_app:home_page_view' %}">
                <span style="color: #5e9693;">Research</span><span style="color: #18EF74;">Lab</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link fw-bold text-warning {% if request.resolver_match.url_name == 'home_page_view' %}active{% endif %}" href="{% url 'lab_app:home_page_view' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-bold text-warning" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            People
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'lab_app:all_people_list' %}">All</a></li>
                            <li><a class="dropdown-item" href="{% url 'lab_app:category_people_list' category_name='Teachers' %}">Teachers</a></li>
                            <li><a class="dropdown-item" href="{% url 'lab_app:category_people_list' category_name='Honors Students' %}">Honors</a></li>
                            <li><a class="dropdown-item" href="{% url 'lab_app:category_people_list' category_name="Master's Students" %}">Master's</a></li>
                            <li><a class="dropdown-item" href="{% url 'lab_app:category_people_list' category_name='PhD Students' %}">PhD</a></li>
                            <li><a class="dropdown-item" href="{% url 'lab_app:category_people_list' category_name='M Fill Students' %}">M Fill</a></li>
                            <li><a class="dropdown-item" href="{% url 'lab_app:category_people_list' category_name='Ex-Student' %}">Ex-Student</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold text-warning {% if request.resolver_match.url_name == 'publication_list' %}active{% endif %}" href="{% url 'lab_app:publication_list' %}">Publications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold text-warning {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'lab_app:about' %}">About</a>
                    </li>
                    {% if not user.is_authenticated and not user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link fw-bold text-warning {% if request.resolver_match.url_name == 'central_contact' %}active{% endif %}" href="{% url 'lab_app:central_contact' %}">Contact</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link fw-bold text-warning {% if request.resolver_match.url_name == 'image_gallery' %}active{% endif %}" href="{% url 'lab_app:image_gallery' %}">Gallery</a>
                    </li>

                    {% if user.is_authenticated and not user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold text-warning {% if request.resolver_match.url_name == 'view_profile' %}active{% endif %}" href="{% url 'lab_app:view_profile' %}">Profile</a>
                    </li>
                    {% endif %}

                    {% if user.is_authenticated and user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold text-warning {% if request.resolver_match.url_name == 'bashboard' %}active{% endif %}" href="{% url 'lab_app:bashboard' %}">Dashboard</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold text-warning {% if request.resolver_match.url_name == 'logout' %}active{% endif %}" href="{% url 'lab_app:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold text-warning {% if request.resolver_match.url_name == 'login' %}active{% endif %}" href="{% url 'lab_app:login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="#">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
