{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
    {% if category %}
        <h1 class="text-center mb-4">{{ category.category }}</h1>
        <div class="row">
            {% for profile in profiles %}
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <div class="card shadow-sm h-100">
                        {% if profile.profile_photo %}
                            <img src="{{ profile.profile_photo.url }}" 
                                 class="card-img-top img-fluid" 
                                 alt="{{ profile.name }}" 
                                 style="object-fit: cover; height: 500px; width: 100%;">
                        {% else %}
                            <img src="{% static 'default-profile.png' %}" 
                                 class="card-img-top img-fluid" 
                                 alt="Default profile picture" 
                                 style="object-fit: cover; height: 200px; width: 100%;">
                        {% endif %}
                        <div class="card-body text-center d-flex flex-column">
                            <h5 class="card-title">{{ profile.name }}</h5>
                            <p class="card-text text-center"><strong></strong> {{ profile.position }}</p>
                            <p class="card-text text-center"><strong></strong> {{ profile.affiliation }}</p>
                            <a href="{% url 'lab_app:people_profile_detail' profile.id %}" 
                               class="btn btn-primary mt-auto">View Profile</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning text-center">
            <h4 class="alert-heading">Category Not Found</h4>
            <p>Sorry, the category you are looking for does not exist.</p>
        </div>
    {% endif %}
</div>

{% endblock content %}
