{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center text-white">Delete Research Project</h2>
    <div class="card shadow-sm">
        <div class="card-body">
            <p>Are you sure you want to delete the research project titled "{{ research.title }}"?</p>
            <form method="post" class="form-control p-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'lab_app:view_research' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
