{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center text-white">My Research Projects</h2>
    <div class="row">
        {% for project in research_projects %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-lg h-100">
                    <img src="{{ project.project_image.url }}" class="card-img-top" alt="Project Image">
                    <div class="card-body">
                        <h5 class="card-title text-justify-custom">{{ project.title }}</h5>
                    </div>
                    <div class="card-footer bg-transparent border-top-0">
                        <a href="{% url 'lab_app:edit_research' project.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'lab_app:delete_research' project.id %}" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
