{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center text-white">Central Contacts</h2>
    <div class="d-flex justify-content-end mb-3">
        <a class="btn btn-primary text-light text-decoration-none" href="{% url 'lab_app:add_central_contact' %}">Add New Central Contact</a>
    </div>
    <div class="card shadow-sm">
        <div class="card-body">
            {% if contacts %}
                <ul class="list-group">
                    {% for contact in contacts %}
                        <li class="list-group-item">
                            <h5>{{ contact.department }}</h5>
                            <p><strong>Office Address:</strong> {{ contact.office_address }}</p>
                            <p><strong>Faculty:</strong> {{ contact.faculty }}</p>
                            <p><strong>University:</strong> {{ contact.university }}</p>
                            <p><strong>Post:</strong> {{ contact.post }}</p>
                            <p><strong>Phone:</strong> {{ contact.phone }}</p>
                            <p><strong>Email:</strong> <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
                            <p><strong>Skype:</strong> {{ contact.skype }}</p>
                            {% if contact.address_image %}
                                <img src="{{ contact.address_image.url }}" alt="Address Image" class="img-fluid">
                            {% endif %}
                            <div class="card-footer bg-transparent border-top-0">
                                <a href="{% url 'lab_app:edit_central_contact' contact.id %}" class="btn btn-primary">Edit</a>
                                <a href="{% url 'lab_app:delete_central_contact' contact.id %}" class="btn btn-primary">Delete</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-center text-white">No central contact information available.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
